# Percentiles

In [3]:
# Supongamos que tenemos una lista de edades representando la edad media de viviendas en diferentes vecindarios:

import pandas as pd
import numpy as np

# Simulamos algunos datos
data = {
    "housing_median_age": [5, 15, 25, 35, 45, 55, 65, 75, 85, 95]
}
df = pd.DataFrame(data)
df.head()

   housing_median_age
0                   5
1                  15
2                  25
3                  35
4                  45

In [5]:
# ¿Qué pasó aquí?

# qcut intenta agrupar los valores de forma que haya la misma cantidad de elementos por grupo.

# En este caso, el primer grupo (label 0) tiene los valores más bajos, y el último (label 3) los más altos.


df["age_bucket"] = pd.qcut(df["housing_median_age"], q=4, labels=False)

In [ ]:
import numpy as np
# Si quieres ver los percentiles manualmente, puedes usar np.percentile:


percentiles = np.percentile(df["housing_median_age"], [0, 25, 50, 75, 100])
print(percentiles)

[ 5.  27.5 50.  72.5 95. ]